{% extends "uweflix/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
    <h1>Hello, {{request.user}} </h1>
    <p>Welcome the cinema admin page for the UWEFlix cinema booking system.</p>

    <h2>Films</h2>
    <a class="cinemaAdminButtons" href="{% url 'addFilms' %}" class="navbar-item">Add a Film</a>

    <a class="cinemaAdminButtons" href="{% url 'allFilms' %}" class="navbar-item">View All Films</a>

    <br>

    <h2>Venue</h2>
    <a class="cinemaAdminButtons" href="{% url 'addVenues' %}" class="navbar-item">Add a Venue</a>

    <a class="cinemaAdminButtons" href="{% url 'allVenues' %}" class="navbar-item">View All Venue</a>

    <br>

    <h2>Screen</h2>
    <a class="cinemaAdminButtons" href="{% url 'addScreen' %}" class="navbar-item">Add a Screen</a>

    <a class="cinemaAdminButtons" href="{% url 'allScreen' %}" class="navbar-item">View All Screens</a>

    <br>

    <h2>Screenings</h2>
    <a class="cinemaAdminButtons" href="{% url 'addShowing' %}" class="navbar-item">Add a Screening</a>

    <a class="cinemaAdminButtons" href="{% url 'allShowing' %}" class="navbar-item">View All Current Screenings</a>


    <!-- <p>hello, {{request.user}} </p> -->
    <br>
    <br>

    <a class="cinemaAdminButtons" href="{% url 'logout' %}">Logout</a>

{% endblock %}
