{% extends "uweflix/layout.html" %}
{% block title %}
Activate User Accounts
{% endblock %}
{% block content %}

<p class="">Welcome to the registered clubs page.</p>


<h2>Clubs</h2>

<table>
    <tr>
      <th>club Name</th>
      <th>Street Address</th>
      <th>postcode</th>
      <th>city</th>
      <th>phone</th>
      <th>Club Representative</th>
    </tr>
    {% for clubs in allClubs %}
    <tr>
        <td>{{clubs.club_name}}</td>
        <td>{{clubs.street_address}}</td>
        <td>{{clubs.postcode}}</td>
        <td>{{clubs.city}}</td>
        <td>{{clubs.phone}}</td>
        <td>{{clubs.account_id}}</td>
    </tr>
    {% endfor %}
</table>


<br>

{% endblock %} 