{% extends "uweflix/layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}
<p>Home page for the UWEFlix cinema booking system. Please Select a showing you would like to view.</p>

{% for showing in showingList %}

<div class="card">
    <div class="card-header">
    <strong>Film Title: {{ showing.film_id }}</strong> 
    </div> 
    <div class="card-body">
    <p class="card-text">

        Location: {{showing.venue_id}}
        <br>
        Screen: {{showing.screen_id}}
        <br>
        Showing Time:  {{ showing.showing_time }}
        <br>
        Showing Date:  {{ showing.showing_date }}
        <br>
    

    </p>

    </div>
        
    <div class="card-footer text-muted">

        <a class="amendButtons" href="{% url 'tickets' showing.showing_id %}">Book Ticket</a>
       
    </div>

</div>

<br>

{% endfor %}

<!-- <a href="{% url 'tickets' %}" class="navbar-item">Tickets</a> -->

{% endblock %}