{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'uweflix/site.css' %}"/>
    </head>

    <body class ="body">

    <div class="navbar">
        
        {% if request.user.is_authenticated %}
            <!-- <a href="{% url 'logout' %}" class="navbar-item">Logout</a> -->
            <a href="{% url 'logout' %}" class="navbar-item">Logout</a>    
        {% else %} 
            <a href="{% url 'login' %}" class="navbar-item">Login</a>
        {% endif %}

        {% if request.user.is_cinema_admin %}
            <a href="{% url 'cinemaAdmin' %}" class="navbar-logo"><img class="imageBanner" src="{% static 'uweflix/UWEFLIX_Logo.png' %}" alt="image" /></a>
            <a href="{% url 'clubRegister' %}" class="navbar-item">Club Registration</a>
            <a href="{% url 'activateUser' %}" class="navbar-item">Activate Accounts</a>
            {% elif request.user.is_cinema_accounts %}
            <a href="{% url 'accountAdmin' %}" class="navbar-logo"><img class="imageBanner" src="{% static 'uweflix/UWEFLIX_Logo.png' %}" alt="image" /></a>
        {% else %}
            <a href="{% url 'home' %}" class="navbar-logo"><img class="imageBanner" src="{% static 'uweflix/UWEFLIX_Logo.png' %}" alt="image" /></a>
        {% endif %}   

        <!-- <a href="{% url 'logout' %}" class="navbar-item">Logout</a> -->
        {% if request.user.is_customer %}
        <a href="{% url 'signup' %}" class="navbar-item">Sign Up</a>
        {% endif %}

        <!-- This will inform the  -->
        {% if request.user.is_authenticated %}
        Session timeout in <span id="sessionTimer">20:00</span> minutes
        {% endif %}

        {% if request.user.is_club %}

            <a href="{% url 'studentAccount' %}" class="account-icon"></ahref><img src="https://img.icons8.com/fluency-systems-regular/48/000000/guest-male.png"/></a>
        {% endif %}

    </div>

    <div class="footer-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>© Group 8, 2022</p>
        </footer>
    </div>
    </body>

    <script>
        window.onload = () => {
            var minutes = 19
            var seconds = 60

            setInterval(() => {
                document.getElementById("sessionTimer").innerHTML = minutes + ":" + seconds
                seconds -= 1
                if (seconds == 00) {
                    minutes -= 1
                    seconds = 60
                    if(minutes = 0) {
                        minutes = 19
                    }
                }
            }, 1000);
        }
    </script>
</html>