{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'uweflix/site.css' %}"/>
    </head>

    <body class ="body">

    <div class="navbar">
        <a href="{% url 'login' %}" class="navbar-item">Login</a>
        
        <a href="{% url 'home' %}" class="navbar-logo"><img class="imageBanner" src="{% static 'uweflix/UWEFLIX_Logo.png' %}" alt="image" /></a>
        
        <a href="{% url 'signup' %}" class="navbar-item">Sign up</a>   
    </div>

    <div class="body-content">
        {% block content %}
        {% endblock %}
        <hr/>
        <footer>
            <p>© Group 8, 2022</p>
        </footer>
    </div>
    </body>
</html>