{% extends "uweflix/layout.html" %}
{% block title %}
Create an Account
{% endblock %}
{% block content %}
    <h2>Sign Up</h2>


    <form method="POST" action="">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        <table class="addFilmsForm">
            {{form.username.label}}
            {{form.username}}
            <br>
            {{form.email.label}}
            {{form.email}}
            <br>
            {{form.password1.label}}
            {{form.password1}}
            <br>
            {{form.password2.label}}
            {{form.password2}}
        </table>
        <input type="submit" name="Register User">
        <!-- <button type="submit">Sign Up</button> -->
    </form>
    <br>
    <p>{{errorMessage}}</p>
    <!-- {% for errorMessage in messages %}
    <p>{{errorMessage}}</p>
    {% endfor %} -->

    <p>Sign up page for the UWEFlix cinema booking system.</p>
{% endblock %} 