{% extends "uweflix/layout.html" %}
{% block title %}
Create an Account
{% endblock %}
{% block content %}

    <p class="">Sign up page for the UWEFlix cinema booking system.</p>

    <h2>Student Account Registration</h2>


    <form method="POST" id="repReg" action="">
        {% csrf_token %}
            
        <table class="addFilmsForm">
            {{form.username.label}}
            {{form.username}}
            <br>
            {{form.email.label}}
            {{form.email}}
            <br>
            {{form.password1.label}}
            {{form.password1}}
            <br>
            {{form.password2.label}}
            {{form.password2}}
            <br>
            <p>Club Representative  {{form.is_club}}</p>
        </table>
        <input type="submit" name="Register User">
        <!-- <button type="submit">Sign Up</button> -->
    </form>
    
    <br>
    <p>{{errorMessage}}</p>
    <!-- {% for errorMessage in messages %}
    <p>{{errorMessage}}</p>
    {% endfor %} -->

{% endblock %} 