{% extends "uweflix/layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<p>Purchasing ticket for the film {{showing.film_id}} at the venue {{showing.venue_id}} in screen {{showing.screen_id}} at {{showing.showing_time}} on the {{showing.showing_date|date:"d/m/Y" }} </p>

<form method="POST" class="purchaseTicket">
    {% csrf_token %}
    <table class="addFilmsForm">
    {{ form }} 
    </table>
    <input type="submit" value="Purchase Tickets">
    </form>


    
<!-- <a href="{% url 'checkout' %}" class="navbar-item">Checkout</a> -->

{% endblock %}