{% extends "uweflix/layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}
<p>Purchasing Ticket </p>


<form method="POST" class="purchaseTicket">
    {% csrf_token %}
    <table class="addFilmsForm">
        Film:  {{showing.film_id}}
        <br>
        Location:  {{showing.venue_id}} 
        <br>
        Showing Time & Date:  {{showing.showing_time}} on the {{showing.showing_date|date:"d/m/Y" }}
        <br>
        <br>

    {{ form }} 
    </table>

    <br>
    <input type="submit" value="Purchase Tickets">
    <a class = "nevermindButton" href="{% url 'home' %}">Nevermind</a>
</form>



<!-- <a href="{% url 'checkout' %}" class="navbar-item">Checkout</a> -->

{% endblock %}