.message {
    font-weight: 600;
    color: blue;
}
.navbar {
    background-color: royalblue;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
   /* padding: 10px 5px 10px 5px; */
    text-align: center;
}

.navbar a {
    text-decoration: none;
    color: inherit;
}

.navbar-brand {
    font-size: 1em;
    /* font-weight: 600; */
    /* padding: 10px 5px 10px 5px; */
    text-align: center;
}

.navbar-item {
    font-variant: small-caps;
    margin-left: 30px;
    margin-right: 30px;
}

.navbar .navbar-item:hover {
    background-color: black;
    /* padding: 10px 5px 10px 5px; */
  }

.navbar-logo{
    display: inline-block;
}

.body{
    background-color: lightgray;
}

.body-content {
    /* padding: 5px; */
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px 5px 10px 5px;

}

.ticketButton{
    background-color: black;
    display: inline-block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}

.ticketButton :visited {
    color: white;
}

