{% extends "uweflix/layout.html" %}
{% block title %}
Create an Account
{% endblock %}
{% block content %}
    <h2>Sign Up</h2>


    <form method="POST" action="">
        {% csrf_token %}
        <!-- {{form.as_p}} -->
        {{form.username.label}}
        {{form.username}}

        {{form.email.label}}
        {{form.email}}

        {{form.password1.label}}
        {{form.password1}}

        {{form.password2.label}}
        {{form.password2}}
        <input type="submit" name="Register User">
        <!-- <button type="submit">Sign Up</button> -->
    </form>
    <p>Sign up page for the UWEFlix cinema booking system.</p>
{% endblock %} 